$colors: (
  facebook-blue: #3b5998,
  google-red: #d34836,
  instagram-blue: #517fa4,
  linkedin-blue: #007bb6,
  pinterest-red: #cb2027,
  twitter-blue: #00aced,
  youtube-red: #bb0000,
);

:root {
  @include shade-variant(gray, #f2f2f2);
  @include tint-variant(blue, blue);
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
  @include opacity-variant(black, black);
  @include opacity-variant(white, white);
  @include color-variant(green, #3daf2c);
}
