@import './_normalize.scss';
@import './_reset.scss';
@import './_variables.scss';
@import './_typography.scss';
@import './_layout.scss';

// COMPONENTS
@import '../components/banner/_banner.scss';
@import '../components/footer/_footer.scss';
@import '../components/navbar/_navbar.scss';

// PAGES
@import '../components/homepage/_homepage.scss';
