.navbar {
  background-color: rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-areas: 'title logo nav';
  grid-template-columns: 1fr auto 1fr;
  grid-column-gap: 2rem;
  grid-template-rows: auto;
  padding: 0.5rem 1rem;
  &_close {
    background-color: transparent;
    border: none;
    height: 2.5rem;
    position: relative;
    width: 2.5rem;
    &::after,
    &::before {
      background-color: black;
      bottom: calc(50% - 0.1rem);
      content: '';
      left: 0.5rem;
      position: absolute;
      right: 0.5rem;
      top: calc(50% - 0.1rem);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &::before {
      transform: rotate(45deg);
    }
  }
  &_link {
    display: block;
    padding: 0.5rem 1rem;
    &:hover {
      text-decoration: none;
    }
  }
  &_list {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
    max-width: 18rem;
    overflow-y: auto;
    padding: 0.5rem 0;
    transform: translateX(100%);
    transition: transform 0.35s;
    width: 100%;
  }
  &_logo {
    align-self: center;
    grid-area: logo;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  &_nav {
    align-items: flex-end;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    &.toggled {
      transform: translateX(0);
      .navbar_list {
        transform: translateX(0%);
        transition: transform 0.25s;
      }
    }
  }
  &_title {
    align-self: center;
    grid-area: title;
    margin-bottom: 0;
  }
  &_toggle {
    background-color: transparent;
    border: none;
    height: 2rem;
    grid-area: nav;
    justify-self: end;
    overflow: hidden;
    padding: 0.25rem;
    width: 2rem;
    &_icon {
      fill: rgba(0,0,0,0.8);
    }
  }
}
@media (min-width: 1000px) {
  .navbar {
    &_nav {
      flex-direction: row;
      grid-area: nav;
      justify-self: end;
    }
    &_close,
    &_toggle {
      display: none;
    }
    &_item {
      margin-left: 1rem;
    }
    &_nav {
      align-items: flex-end;
      background-color: transparent;
      bottom: auto;
      flex-direction: row;
      left: auto;
      position: static;
      right: auto;
      top: auto;
      transform: translateX(0);
      &.toggled {
        transform: translateX(0);
        .navbar_list {
          transform: translateX(0%);
        }
      }
    }
    &_link {
      padding: 0;
    }
    &_list {
      background-color: transparent;
      flex-direction: row;
      height: auto;
      max-width: none;
      padding: 0;
      transform: translateX(0);
      width: auto;
    }
  }
}
